<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hraps.ianserver.mapper.CardMapper">
    <select id="selectByAid" resultType="com.hraps.ianserver.entity.Card">
        SELECT * FROM card WHERE aid = #{aid} ORDERBY id DESC
    </select>
    <select id="selectOneByValueAndAid" resultType="com.hraps.ianserver.entity.Card">
        SELECT * FROM card WHERE value = #{value} AND aid = #{aid}
    </select>
    <select id="updateStatusById">
        UPDATE card SET status = #{status} WHERE id = #{id}
    </select>
</mapper>